<%-include("../partials/head-editor");-%>

<div class="wrapper">
    <div class="published-content">
<form action="/draft" method="get">
   <button>CREATE NEW DRAFT</button>
</form>

   <div id="composes"> 
<% composesA.forEach(function(compose){%>
   <div id="compose">
    <%if(compose.title.replace(/\s+/g,"")===""){%>
     <h1>Sin Titulo</h1>
    <%}%>
    <%if(compose.title.replace(/\s+/g,"")!==""){%>
    <h1><%=compose.title%></h1>
    <%}%>
    <%if(compose.posted===true){%>
       <a class="edit-a" href= "/editPublished/<%=compose.id%>" >EDIT</a>
    <%}%>
    <%if(compose.posted===false){%>
    <a class="edit-a" href= "/edit/<%=compose.id%>" >EDIT</a>
    <%}%>
    <%if(compose.posted===false){%>
    <form action="/publish" method="post">
      <button name="id" value="<%=compose.id%>" class="publish-button">PUBLISH</button>
    </form>
    <%}%>
    <form action="/delete" method="post">
    <button class="delete-button"name="idDeleteCompose" value= "<%=compose.id%>"> DELETE</button>
    </form>
   </div>
<%})%>
    </div>

</div>

<form action="/logout" method="post">
    <button class="logout-button" type="submit">Log Out</button>
</form>

</div>

<%-include("../partials/footer");-%>